$primary-color: #009688;
$secondary-color:  #ff3d00;
$white: #fff;
$font-size: 18px;
$font-size-tablet: 27px;
$font-size-desktop: 30px;
//=========Mixin Responsive==========================
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
//====================================================

body{
	font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

#bg{
	overflow: hidden;
	width: 100%;
	height: 200px;
	margin-bottom: 5em;
	position: relative;
}

img{
	height: auto;
	width: 100%;
	background-size: cover;
}

h1{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	font-size: $font-size;
	margin: 0;
	font-weight: bold;
	color: $primary-color;
	@include tablet {
		font-size: $font-size-tablet;
	}
	@include desktop {
		font-size: $font-size-desktop;
	}
}

.main, .pre-build, .section{
	background-color: $white;
	margin-top: 1rem;
	margin-bottom: 3rem;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.right-panel{
	//position: fixed;
	width: 100%
}

h2, .section h3{
	border-bottom: 1px solid #716d6d;
	margin-left: 1em;
	padding-bottom: 1rem;
	display: inline-block;
	font-size: $font-size - 5px;
	@include tablet {
		font-size: $font-size-tablet - 5px;
	}
	@include desktop {
		font-size: $font-size-desktop - 5px;
	}
}

.title{
	border: 1px solid #cacaca;
	padding: 1rem 0 1rem 2rem;
	margin-top: 1rem;
	font-size: $font-size - 12px;
	@include tablet {
		font-size: $font-size-tablet - 12px;
	}
	@include desktop {
		font-size: $font-size-desktop - 12px;
	}
}

#main-field li li.obj{
	margin-left: 10px;
	margin-top: 10px;
	border-left: 5px double $secondary-color;
}

//Input and select==================================================================
.main-section, .sub-section{
	margin: 1em;
}

.main-section input, select, i, 
.sub-section input, select, i{
	width: 100%;
	height: 100%;
}

.main-section i, 
.sub-section i{
	padding: 1rem 0 0.7rem 0rem;
	cursor: pointer;
}

.main-section select, 
.sub-section select{
	padding: 0.7rem 0 0.7rem 0.5rem;
	font-size: $font-size - 12px;
	@include tablet {
		font-size: $font-size-tablet - 12px;
	}
	@include desktop {
		font-size: $font-size-desktop - 12px;
	}
}

.main-section input, 
.sub-section input{
	border: 1px solid #cacaca;
	padding: 1rem 0 1rem 2rem;
	font-size: $font-size - 12px;
	cursor: pointer;
	@include tablet {
		font-size: $font-size-tablet - 12px;
	}
	@include desktop {
		font-size: $font-size-desktop - 12px;
	}
}

.main-section div, 
.sub-section div{
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}

ul{
	list-style: none;
}

#main-field li .row, .sub-section li .row{
	border-left: 10px solid $primary-color;
	padding-left: 5px;
	cursor: move;
}

//========================================
//Pre-build
.pre-build p{
	border-left: 10px solid $secondary-color;
	padding: 10px;
	font-weight: bold;
	font-size: $font-size - 12px;
	cursor: move;
	@include tablet {
		font-size: $font-size-tablet - 12px;
	}
	@include desktop {
		font-size: $font-size-desktop - 12px;
	}
}

.each-prebuild{
	margin: 1em 0 1em 0rem;
}

ul#pre-list li{
	cursor: move;
}

//=========================================
//Button
#addChoice, #addField{
	padding: 1rem 1em;
	border: none;
	background-color: $secondary-color;
	text-transform: uppercase;
	color: $white;
	margin: 0.5rem 1rem;
}
#addField{
	background-color: $primary-color;
}

//=========================================
//Section
.section{
	padding: 1em;
}

.section p{
	padding: 0.5em 1.5em;
	font-weight: bold;
	font-size: $font-size - 12px;
	@include tablet {
		font-size: $font-size-tablet - 12px;
	}
	@include desktop {
		font-size: $font-size-desktop - 12px;
	}
}

.section ol p{
	padding: 0.2em
}

.section input{
	width: 100%;
	border: 2px solid #cacaca;
	padding: 0.5em 1.5em;
	margin-left: 1rem;
}

.section button{
	padding: 1rem 1.5rem;
	margin: 1em 1rem;
	background-color: $secondary-color;
	border: none;
	text-transform: uppercase;
	color: $white;
}