$primary-color: #009688;
$white: #fff;
$font-size: 18px;
$font-size-tablet: 27px;
$font-size-desktop: 30px;
//=========Mixin Responsive==========================
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
//====================================================

body{
	font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

header{
	background-color: $primary-color;
	width: 100%;
	min-height: 30%;
	position: absolute;
	top: 0;
	left: 0;
}

h1{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	font-size: $font-size;
	margin: 0;
	font-weight: bold;
	color: $white;
	@include tablet {
		font-size: $font-size-tablet;
	}
	@include desktop {
		font-size: $font-size-desktop;
	}
}

.main, .pre-build{
	position: absolute;
	transform: translate(-50%, 0);
	left: 40%;
	top: 25%;
	width: 60%;
	min-height: 50%;
	background-color: $white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.pre-build{
	position: absolute;
	transform: translate(-50%, 0);
	position: fixed;
	left: 85%;
	top: 25%;
	width: 20%;
	min-height: 50%;
	background-color: $white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

h2{
	border-bottom: 1px solid #716d6d;
	margin-left: 1em;
	padding-bottom: 1rem;
	display: inline-block;
	font-size: $font-size - 5px;
	@include tablet {
		font-size: $font-size-tablet - 5px;
	}
	@include desktop {
		font-size: $font-size-desktop - 5px;
	}
}