body {
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; }

header {
  background-color: #009688;
  width: 100%;
  min-height: 30%;
  position: absolute;
  top: 0;
  left: 0; }

h1 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 18px;
  margin: 0;
  font-weight: bold;
  color: #fff; }
  @media (min-width: 768px) and (max-width: 1023px) {
    h1 {
      font-size: 27px; } }
  @media (min-width: 1024px) {
    h1 {
      font-size: 30px; } }

.main, .pre-build {
  position: absolute;
  transform: translate(-50%, 0);
  left: 40%;
  top: 25%;
  width: 60%;
  min-height: 50%;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.pre-build {
  position: absolute;
  transform: translate(-50%, 0);
  position: fixed;
  left: 85%;
  top: 25%;
  width: 20%;
  min-height: 50%;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

h2 {
  border-bottom: 1px solid #716d6d;
  margin-left: 1em;
  padding-bottom: 1rem;
  display: inline-block;
  font-size: 13px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    h2 {
      font-size: 22px; } }
  @media (min-width: 1024px) {
    h2 {
      font-size: 25px; } }
