body {
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; }

header {
  background-color: #009688;
  width: 100%;
  min-height: 30%;
  position: absolute;
  top: 0;
  left: 0; }

h1 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 18px;
  margin: 0;
  font-weight: bold;
  color: #fff; }
  @media (min-width: 768px) and (max-width: 1023px) {
    h1 {
      font-size: 27px; } }
  @media (min-width: 1024px) {
    h1 {
      font-size: 30px; } }

.main, .pre-build {
  position: absolute;
  transform: translate(-50%, 0);
  left: 40%;
  top: 25%;
  width: 60%;
  min-height: 50%;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.pre-build {
  position: absolute;
  transform: translate(-50%, 0);
  position: fixed;
  left: 85%;
  top: 25%;
  width: 20%;
  min-height: 50%;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

h2 {
  border-bottom: 1px solid #716d6d;
  margin-left: 1em;
  padding-bottom: 1rem;
  display: inline-block;
  font-size: 13px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    h2 {
      font-size: 22px; } }
  @media (min-width: 1024px) {
    h2 {
      font-size: 25px; } }

.title {
  border: 1px solid #cacaca;
  padding: 1rem 0 1rem 2rem;
  margin-top: 1rem;
  font-size: 6px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .title {
      font-size: 15px; } }
  @media (min-width: 1024px) {
    .title {
      font-size: 18px; } }

#sort-field li div.objective {
  margin-left: 10px;
  border-left: 5px double #ff3d00; }

.each-field {
  margin: 1em; }

.each-field input, select, i {
  width: 100%;
  height: 100%; }

.each-field i {
  padding: 1rem 0 0.7rem 0rem;
  cursor: pointer; }

.each-field select {
  padding: 0.7rem 0 0.7rem 0.5rem;
  font-size: 6px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .each-field select {
      font-size: 15px; } }
  @media (min-width: 1024px) {
    .each-field select {
      font-size: 18px; } }

.each-field input {
  border: 1px solid #cacaca;
  padding: 1rem 0 1rem 2rem;
  font-size: 6px;
  cursor: pointer; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .each-field input {
      font-size: 15px; } }
  @media (min-width: 1024px) {
    .each-field input {
      font-size: 18px; } }

.each-field div {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem; }

ul {
  list-style: none; }

#sort-field li .row {
  border-left: 10px solid #009688;
  padding-left: 5px;
  cursor: move; }

.pre-build p {
  border-left: 10px solid #ff3d00;
  padding: 10px;
  font-weight: bold;
  font-size: 6px;
  cursor: move; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .pre-build p {
      font-size: 15px; } }
  @media (min-width: 1024px) {
    .pre-build p {
      font-size: 18px; } }

.each-prebuild {
  margin: 1em 0 1em 0rem; }

ul#pre-list li {
  cursor: move; }

#addChoice, #addField {
  padding: 1rem 1em;
  border: none;
  background-color: #ff3d00;
  text-transform: uppercase;
  color: #fff;
  margin: 0.5rem 1rem; }

#addField {
  background-color: #009688; }
